[Desktop Entry]
Name=EdgeWheel
Name[ast]=EdgeWheel
Name[bg]=EdgeWheel
Name[bs]=EdgeWheel
Name[ca]=EdgeWheel
Name[ca@valencia]=EdgeWheel
Name[cs]=EdgeWheel
Name[da]=EdgeWheel
Name[de]=EdgeWheel
Name[el]=EdgeWheel
Name[en_GB]=EdgeWheel
Name[eo]=EdgeWheel
Name[es]=EdgeWheel
Name[et]=EdgeWheel
Name[fi]=EdgeWheel
Name[fr]=EdgeWheel
Name[ga]=EdgeWheel
Name[gl]=EdgeWheel
Name[hu]=EdgeWheel
Name[it]=EdgeWheel
Name[ja]=EdgeWheel
Name[kk]=EdgeWheel
Name[km]=EdgeWheel
Name[ko]=EdgeWheel
Name[lv]=EdgeWheel
Name[nb]=EdgeWheel
Name[nds]=EdgeWheel
Name[nl]=EdgeWheel
Name[nn]=EdgeWheel
Name[pa]=EdgeWheel
Name[pl]=EdgeWheel
Name[pt]=EdgeWheel
Name[pt_BR]=EdgeWheel
Name[ro]=EdgeWheel
Name[ru]=EdgeWheel
Name[sk]=EdgeWheel
Name[sq]=EdgeWheel
Name[sr]=EdgeWheel
Name[sr@ijekavian]=EdgeWheel
Name[sr@ijekavianlatin]=EdgeWheel
Name[sr@latin]=EdgeWheel
Name[sv]=EdgeWheel
Name[tr]=EdgeWheel
Name[ug]=EdgeWheel
Name[uk]=EdgeWheel
Name[x-test]=xxEdgeWheelxx
Name[zh_CN]=EdgeWheel
Name[zh_TW]=EdgeWheel
Comment=Plasma EdgeWheel
Comment[ast]=Plasma EdgeWheel
Comment[bs]=Plazma EdgeWheel
Comment[ca]=Plasma EdgeWheel
Comment[ca@valencia]=Plasma EdgeWheel
Comment[cs]=Plasma EdgeWheel
Comment[da]=Plasma EdgeWheel
Comment[de]=Plasma EdgeWheel
Comment[el]=Plasma EdgeWheel
Comment[en_GB]=Plasma EdgeWheel
Comment[eo]=Plasma EdgeWheel
Comment[es]=Plasma EdgeWheel
Comment[et]=Plasma EdgeWheel
Comment[fi]=Plasma EdgeWheel
Comment[fr]=Plasma EdgeWheel
Comment[ga]=Plasma EdgeWheel
Comment[gl]=Plasma EdgeWheel
Comment[hu]=Plasma EdgeWheel
Comment[it]=Plasma EdgeWheel
Comment[ja]=Plasma EdgeWheel
Comment[kk]=Plasma EdgeWheel
Comment[km]=ប្លាស្មា EdgeWheel
Comment[ko]=Plasma EdgeWheel
Comment[lv]=Plasma EdgeWheel
Comment[nb]=Plasma EdgeWheel
Comment[nds]=Plasma EdgeWheel
Comment[nl]=Plasma EdgeWheel
Comment[nn]=Plasma EdgeWheel
Comment[pa]=ਪਲਾਜ਼ਮਾ EdgeWheel
Comment[pl]=Plazma EdgeWheel
Comment[pt]=Plasma EdgeWheel
Comment[pt_BR]=Plasma EdgeWheel
Comment[ro]=Plasma EdgeWheel
Comment[ru]=Plasma EdgeWheel
Comment[sk]=Plasma EdgeWheel
Comment[sq]=Plasma EdgeWheel
Comment[sr]=Плазмин EdgeWheel
Comment[sr@ijekavian]=Плазмин EdgeWheel
Comment[sr@ijekavianlatin]=Plasmin EdgeWheel
Comment[sr@latin]=Plasmin EdgeWheel
Comment[sv]=Plasma EdgeWheel
Comment[tr]=Plasma EdgeWheel
Comment[uk]=Плазма EdgeWheel
Comment[x-test]=xxPlasma EdgeWheelxx
Comment[zh_CN]=Plasma EdgeWheel
Comment[zh_TW]=Plasma EdgeWheel
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_edgewheel
X-KDE-PluginInfo-Author=%{AUTHOR}
X-KDE-PluginInfo-Email=%{EMAIL}
X-KDE-PluginInfo-Name=edgewheel
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://plasma.kde.org/
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true

